body{
    background-color: #133fbb;
}
/* usa esse para colocar comentario no css*/
h1{ 
    color:blue;
    text-align: right;
    font-size:30px;
}
p{
   color: brown;
    text-align: center;
}
em strong {
    color: #FF0000;
}